twitter:
  user: gesteves
  consumer_key: abc123
  consumer_secret: abc123
  access_token: abc123
  access_token_secret: abc123
  count: 5
instagram:
  user_id: 666
  consumer_key: abc123
  count: 9
tumblr:
  photoblog: yourdomain.com
  links: yourdomain.com
  consumer_key: abc123
  photos_count: 1
  links_count: 5
  link_tag: writing
github:
  access_token: abc123
  repos: 
    - gesteves/farragut
lastfm:
  api_key: 123
  username: gesteves
  count: 10
goodreads:
  rss_feed: "https://www.goodreads.com/review/list_rss/123?key=123abc"
  shelves:
    - currently-reading
    - read
  count: 5
untappd:
  checkins: "http://example.com"
  count: 5
rdio:
  key: 123
  secret: 123
  user_id: s342091
  count: 5