twitter:
  user: gesteves
  consumer_key: abc123
  consumer_secret: abc123
  access_token: abc123
  access_token_secret: abc123
  count: 5
instagram:
  user_id: 666
  consumer_key: abc123
  count: 9
tumblr:
  url: yourdomain.com
  consumer_key: abc123
  count: 1
github:
  access_token: abc123
  repos: 
    - gesteves/farragut
lastfm:
  api_key: 123
  username: gesteves
goodreads:
  rss_feed: "https://www.goodreads.com/review/list_rss/123?key=123abc&shelf=currently-reading"
untappd:
  json_feed: "http://example.com"
  count: 5