
.icon-retweet:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-reply:before { content: '\e802'; } /* '' */
.icon-fork:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */