* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: $color-text;
  font-family: $calluna;
  font-weight: 300;
  padding: 2rem;

  @media (min-width: $bp-small) {
    padding: 2rem 4rem;
  }
}