@mixin columns($width, $gap) {
  -webkit-column-gap: $gap;
  -webkit-column-width: $width;
     -moz-column-gap: $gap;
     -moz-column-width: $width;
          column-gap: $gap;
          column-width: $width;
}

@mixin kerning {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-feature-settings: "kern";
     -moz-font-feature-settings: "kern";
     -moz-font-feature-settings: "kern=1";
}