// Colors
$color-text: #333;
$color-links: #bf0222;

// Fonts
$proxima-nova: "proxima-nova", "Helvetica Neue", sans-serif;
$proxima-nova-condensed: "proxima-nova-sc-osf-ext-cond", "Helvetica Neue", sans-serif;

// Misc.
$border: 2px solid $color-text;