<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "partials/_head" %>
    <%= partial "partials/_analytics" %>
  </head>
  
  <body class="l-content">
    <%= yield %>
    <%= javascript_include_tag  "main" %>
  </body>
</html>
