<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "partials/_analytics" %>
    <%= partial "partials/_head" %>
  </head>
  
  <body>
    <%= partial "partials/icons" %>
    <%= yield %>
  </body>
</html>
