<% unless data.content.links.empty? %>
  <section class="b-card b-elsewhere">
    <h3>Elsewhere</h3>
    <ul>
      <% data.content.links.sort{ |a,b| a.name <=> b.name }.each do |link| %>
        <li class="b-elsewhere__link <%= link.name %>"><%= link_to link.title, link.url %></li>
      <% end %>
    </ul>
  </section>
<% end %>