<% unless data.content.links.empty? %>
  <section class="m-card m-elsewhere">
    <h1>Elsewhere on the web</h1>
    <ul class="m-elsewhere__list">
      <% data.content.links.sort{ |a,b| a.name <=> b.name }.each do |link| %>
        <li class="m-elsewhere__link"><a href="<%= link.url %>"><%= inline_svg link.name %><%= link.title %></a></li>
      <% end %>
    </ul>
  </section>
<% end %>
