<section class="b-card">
  <h3>Featured Repos</h3>
  <ol>
    <% data.repos.each do |r| %>
      <li>
        <p><%= link_to r.name, r.html_url %> <%= link_to r.stargazers_count, "#{r.html_url}/stargazers" %> <%= link_to r.forks, "#{r.html_url}/network" %></p>
        <% unless r.description == "" %>
          <p><%= r.description %></p>
        <% end %>
      </li>
    <% end %>
  </ol>
</section>