<% unless data.goodreads.empty? %>
  <section class="b-card">
    <ul>
      <% data.goodreads.each do |book| %>
        <li>
          <img src="<%= image_path "goodreads/#{book.id}.jpg" %>" alt="<%= book.title %>" />
          <%= link_to book.title, book.url %>, by <%= book.author %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>