<%= inline_stylesheet "header" %>
<header class="m-header">
  <h1><%= link_to "Guillermo Esteves", data.content.meta.canonical_url %></h1>
  <h2>Web design <%= inline_svg "and", "svg-and" %> stuff.</h2>
</header>
