<header class="b-header">
  <h1><%= link_to data.content.copy.hed, data.content.meta.canonical_url %></h1>
  <h2><%= data.content.copy.dek_1 %><%= partial "partials/_amp" %><%= data.content.copy.dek_2 %></h2>
</header>