<section class="b-card">
  <ol>
    <% data.instagram.each do |photo| %>
      <li>
        <a href="<%= photo.link %>">
          <% if photo.caption.nil? %>
            <img src="<%= image_path "instagram/#{photo.id}_640.jpg" %>" alt="Instagram photo" />
          <% else %>
            <img src="<%= image_path "instagram/#{photo.id}_640.jpg" %>" alt="<%= photo.caption.text %>" />
          <% end %>
        </a>
      </li>
    <% end %>
  </ol>
</section>