<section class="m-card m-instagram">
  <h1>Instagram</h1>
  <ol class="m-instagram__photo-list">
    <% data.instagram.each do |photo| %>
      <li class="m-instagram__photo-item">
        <a href="<%= photo.link %>">
          <%= instagram_image_tag(photo) %>
        </a>
      </li>
    <% end %>
  </ol>
</section>