<section class="m-card m-intro">
  <p><strong>Hello.</strong> My name is Guillermo Esteves.</p>
  <p>I live in Jackson, Wyoming and I’m an engineering director at <a href="http://www.voxmedia.com">Vox&nbsp;Media</a>’s <a href="http://product.voxmedia.com/pages/our-team">Product&nbsp;Team</a>.</p>
  <p>Do you want to get in touch? <a href="mailto:contact@gesteves.com">Email&nbsp;me</a>.</p>
</section>
