<section class="b-card b-photoblog">
<% data.photoblog.response.posts.each do |photo| %>
  <a href="<%= photo.post_url %>">
    <% if photo.caption.nil? %>
      <img src="<%= image_path "photoblog/#{photo.id}_original.jpg" %>" alt="Latest from my photoblog" />
    <% else %>
      <img src="<%= image_path "photoblog/#{photo.id}_original.jpg" %>" alt="<%= photo.caption %>" />
    <% end %>
  </a>
<% end %>
</section>