<section class="m-card m-photoblog">
<h1>Featured Photos</h1>

<ol class="m-photoblog__photos">
  <% data.photoblog.data.each do |entry| %>
    <li class="m-photoblog__photo-item">
      <a href="<%= entry.links.self %>">
        <%= photoblog_image_tag(entry.relationships.photos.data.first, entry.attributes.plain_title) %>
      </a>
    </li>
  <% end %>
</ol>
</section>
