<section class="m-card m-photoblog">
<h1>Photos</h1>

<ol class="m-photoblog__photos">
  <% data.photoblog.each do |photo| %>
    <li class="m-photoblog__photo-item">
      <a href="<%= photo.post_url %>">
        <%= photoblog_image_tag(photo) %>
      </a>
    </li>
  <% end %>
</ol>
</section>
