<section class="b-card b-photoblog">
<h1>Photoblog</h1>

<a href="<%= data.photoblog.post_url %>" class="b-photoblog__photo">
  <%= photoblog_image_tag(data.photoblog) %>
</a>
<% unless data.photoblog.caption.nil? %>
  <%= data.photoblog.caption %>
<% end %>
<p class="meta"><%= photo_exif(data.photoblog) %></p>

</section>