<section class="m-card m-stats">
  <h1>Stats</h1>
  <dl>
    <dt class="m-stats__number"><%= format_number data.commits.total_commits %></dt>
    <dd class="m-stats__meta">Commits pushed in the past week</dd>
    <dt class="m-stats__number"><%= format_number data.fitbit.steps %></dt>
    <dd class="m-stats__meta">Steps taken today</dd>
    <dt class="m-stats__number"><%= format_number data.fitbit.distance %></dt>
    <dd class="m-stats__meta">Kilometers walked today</dd>
    <% unless data.fitbit.sleep == 0 %>
      <dt class="m-stats__number"><%= format_number data.fitbit.sleep %></dt>
      <dd class="m-stats__meta">Hours slept last night</dd>
    <% end %>
  </dl>

</section>