<% unless data.untappd.empty? %>
  <h3>Recently enjoyed</h3>
  <section class="b-card b-beers">
    <ol>
      <% data.untappd.each do |b| %>
        <li>
          <img src="<%= image_path "untappd/#{b.checkin}.jpg" %>" alt="<%= b.name.text %>" />
          <%= link_to b.name.text, b.name.href %>, by <%= link_to b.brewery.text, b.brewery.href %>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>