<% unless data.links.response.posts.empty? %>
  <section class="m-card m-writing">
    <h1>Writing</h1>
    <ol>
      <% data.links.response.posts.each do |link| %>
        <li>
          <h2 class="m-writing__headline"><%= link_to link.title, link.url %>&nbsp;<a href="<%= link.post_url %>" class="m-writing__permalink">&#xe805;</a></h2>
          <%= link.description %>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>