<% unless data.content.reading.empty? %>
  <section class="m-card m-writing">
    <h1>Writing</h1>
    <ol>
      <% data.content.reading.reverse.each do |link| %>
        <li>
          <h2><%= link_to link.title, link.url %></h2>
          <p><%= link.description %></p>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>
