$l : '.l-section';

#{$l} {
  margin: 2rem 0;
  padding: 0 2rem;

  @media (min-width: $bp-xl) {
    margin: 4rem 0;
    padding: 0 4rem;
  }

  @media (min-width: $bp-max) {
    padding: 0 8rem;
  }

  &.alt {
    background-color: $color-background;
    border-color: darken($color-background, 5%);
    border-style: solid;
    border-width: 1px 0;
    padding: 2rem;

    @media (min-width: $bp-xl) {
      padding: 4rem;
    }
    
    @media (min-width: $bp-max) {
      padding: 8rem;
    }
  }
}

#{$l}__container {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $bp-xl;
  width: 100%;
}

#{$l}.narrow #{$l}__container {
  max-width: $bp-l;
}

#{$l}.wide #{$l}__container {
  max-width: $bp-xxl;
}

#{$l}.single #{$l}__container {
  justify-content: center;
}

#{$l}.full-width {
  padding-left: 2rem;
  padding-right: 2rem;

  #{$l}__container {
    max-width: 100%;
  }
}
