$p : '.p-list';

#{$p}__item {
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;

  #{$p}__author {
    color: $color-alt-text;
    font-size: 1.2rem;
    line-height: (2.1/1.2);
  }

  a#{$p}__author {
    &:link,
    &:visited {
      color: $color-alt-text;
    }

    &:hover,
    &:active {
      color: $color-links;
    }
  }
}

#{$p}__title {
  font-size: 1.4rem;
  line-height: (2.1/1.4);
}

#{$p}__image {
  align-items: center;
  display: flex;
  flex: 0 0 50px;

  img { width: 50px; }
}

#{$p}__meta {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;

  span,
  a {
    display: block;
  }
}
