$p : '.p-svg';

#{$p} {
  display: inline-block;
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}

a:link,
a:visited {
  #{$p} {
    fill: $color-very-light-gray;
  }
}

a:hover,
a:active {
  #{$p} {
    fill: $color-links;
  }
}
