* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $color-text;
  font-family: $calluna;
  font-weight: 300;
}

.svg {
  display: inline-block;
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}
