%sans-serif {
  font-family: 'Helvetica Neue', sans-serif;

  .wf-active & {
    font-family: $font-sans-serif;
  }
}

%serif {
  font-family: 'Georgia', serif;

  .wf-active & {
    font-family: $font-serif;
  }
}
