@mixin kerning {
  // scss-lint:disable VendorPrefixes
  -webkit-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern=1';
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

@mixin svg-icon($width: 1rem, $height: $width, $fill: currentColor) {
  fill: $fill;
  height: $height;
  width: $width;
}

@mixin aspect-ratio($width, $height, $child-selector: '*') {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > #{$child-selector} {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
