@mixin columns($width: '', $count: '', $gap: 0) {
  @if $width == '' {
    column-width: auto;
  } @else {
    column-width: $width;
  }
  @if $count == '' {
    column-count: auto;
  } @else {
    column-count: $count;
  }
  column-gap: $gap;
}

@mixin kerning {
  -webkit-font-feature-settings: "kern";
     -moz-font-feature-settings: "kern";
     -moz-font-feature-settings: "kern=1";
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

@mixin vertical-center($top: 50%) {
  position: relative;
  top: $top;
  transform: translateY(-50%);
}

/// Helper to clear inner floats
/// @author Nicolas Gallagher
/// @link http://nicolasgallagher.com/micro-clearfix-hack/ Micro Clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}