@mixin kerning {
  // scss-lint:disable VendorPrefixes
  -webkit-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern=1';
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

@mixin svg-icon($width: 1rem, $height: $width, $fill: currentColor) {
  fill: $fill;
  height: $height;
  width: $width;
}

@mixin sans-serif() {
  font-family: 'Helvetica Neue', sans-serif;

  .wf-active & {
    font-family: $font-sans-serif;
  }
}

@mixin serif() {
  font-family: 'Georgia', serif;

  .wf-active & {
    font-family: $font-serif;
  }
}
