$m : '.m-card';

#{$m} {
  display: inline-block;
  margin: 0 0 4rem;
  width: 100%;
  
  img {
    max-width: 100%;
  }

  a:link,
  a:visited {
    color: $color-links;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: underline;
  }

  h1 {
    @include kerning;
    color: $color-heading;
    font-family: $proxima-nova;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 2rem;
    text-transform: uppercase;
  }

  h2 {
    @include kerning;
    font-family: $calluna;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.5;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.5;
    margin: 1rem 0 0;
  }

  code {
    background-color: $color-background;
    border: 1px solid $color-very-light-gray;
    border-radius: 2px;
    color: $color-text;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 2px 4px;
  }

  strong {
    font-weight: bold;
  }

  @media (min-width: $bp-l) {
    flex-basis: calc(50% - 2rem);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
  }

  @media (min-width: $bp-xxl) {
    flex-basis: calc(50% - 4rem);
    flex-grow: 0;
    flex-shrink: 0;
  }

  .multiple & {
    margin: 0 0 2rem;

    @media (min-width: $bp-m) {
      flex-basis: calc(50% - 2rem);
      flex-grow: 0;
      flex-shrink: 0;
    }

    @media (min-width: $bp-xl) {
      flex-basis: calc(25% - 4rem);
      flex-grow: 0;
      flex-shrink: 0;
      margin: 0;
    }
  }
}

.no-flexbox #{$m} {
  @media (min-width: $bp-l) {
    margin-right: 2rem;
    width: calc(50% - 2rem);
  }

  @media (min-width: $bp-xxl) {
    margin-right: 4rem;
    width: calc(50% - 4rem);
  }
}

.no-flexbox .multiple #{$m} {
  @media (min-width: $bp-m) {
    margin-right: 2rem;
    width: calc(50% - 2rem);
  }

  @media (min-width: $bp-xl) {
    margin-right: 4rem;
    width: calc(25% - 4rem);
  }
}
