$m : '.m-error';

#{$m} {
  margin: 6rem 0;
  text-align: center;
  width: 100%;

  h3 {
    font-size: 16rem;
    font-weight: 100;
    line-height: 1;
  }

  p {
    font-size: 2.4rem;
  }

  a:link,
  a:visited {
    color: $color-links;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: underline;
  }
}
