$m : '.m-elsewhere';

#{$m} {
  flex: 0 0 100%;
  margin: 0;

  @media (min-width: $bp-m) {
    text-align: center;
  }
}

#{$m}__list {
  display: flex;
  flex-flow: row wrap;

  @media (min-width: $bp-m) {
    justify-content: center;
  }
}

#{$m}__link {
  flex: 0 0 50%;
  text-align: left;

  @media (min-width: $bp-m) {
    flex: 0 0 auto;
    margin: 0 1rem;
    text-align: center;
  }

  a {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .p-svg {
    @include svg-icon($width: 1.8rem);
    margin-right: 0.5rem;
    vertical-align: text-bottom;
  }
}
