$m : '.m-footer';

#{$m} {
  margin: 0 0 2rem;
  padding: 0 0 2rem;
  text-align: center;
  width: 100%;

  p {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  span {
    white-space: nowrap;
  }
}
