$m : '.m-github';

#{$m}__repo {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 2rem;
  position: relative;
}

#{$m}__name {
  display: block;
  flex-grow: 1;
}

#{$m}__meta {
  color: $color-alt-text;
  display: block;

  a {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 0.5rem;
  }

  a:before {
    color: $color-very-light-gray;
    position: relative;
    top: 0.1rem;
  }

  a:link,
  a:visited {
    color: $color-alt-text;
  }
  
  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;

    &:before {
      color: $color-links;
    }
  }

}

#{$m} #{$m}__description {
  flex: 0 0 100%;
  margin: 0 0 0 1rem;
}
