$m : '.m-github';

#{$m}__repo {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 2.1rem;
  position: relative;
}

#{$m}__name {
  display: block;
  flex-grow: 1;
}

#{$m}__meta {
  color: $color-alt-text;
  display: block;

  a {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-left: 1rem;
  }

  a:link,
  a:visited {
    color: $color-alt-text;
  }
  
  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }

  .p-svg {
    @include svg-icon($width: 1.4rem);
    margin-right: 0.25rem;
  }
}

#{$m} #{$m}__description {
  flex: 0 0 100%;
  margin: 0 0 0 1.5rem;
}
