$m : '.m-header';

#{$m} {
  margin: 2rem 0;
  text-align:center;
  width: 100%;
  @media (min-width: $bp-xl) {
    margin: 4rem 0;
  }
  h1 {
    @include kerning;
    color: $color-header-text;
    font-family: $proxima-nova;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1;
    @media (min-width: $bp-s) {
      font-size: 2rem;
    }
    @media (min-width: $bp-m) {
      font-size: 3rem;
    }
    @media (min-width: $bp-xl) {
      font-size: 3.5rem;
    }
  }
  h2 {
    @include kerning;
    color: $color-header-text;
    font-family: $proxima-nova;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1;
    @media (min-width: $bp-s) {
      font-size: 1.75rem;
    }
    @media (min-width: $bp-m) {
      font-size: 2rem;
    }
    @media (min-width: $bp-xl) {
      font-size: 2.5rem;
    }
  }
  abbr[title="and"] {
    border-bottom:none;
    cursor: auto;
    font-family: fontello;
    font-size:125%;
    font-weight:normal;
    margin:0 -4px 0 -3px;
    vertical-align:middle;
  }
  a:link, a:visited {
    color: $color-header-text;
    text-decoration: none;
  }
  a:hover, a:active {
    color: $color-links;
    text-decoration: none;
  }
}