$m : '.m-header';

#{$m} {
  margin: 4rem 0 2rem;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-xl) {
    margin: 8rem 0 4rem;
  }

  h1 {
    @include kerning;
    @include sans-serif;
    color: $color-header-text;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;

    @media (min-width: $bp-s) {
      font-size: 3.2rem;
    }

    @media (min-width: $bp-m) {
      font-size: 5rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 7rem;
    }
  }

  h2 {
    @include kerning;
    @include sans-serif;
    color: $color-header-text;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1;

    @media (min-width: $bp-s) {
      font-size: 2.8rem;
    }

    @media (min-width: $bp-m) {
      font-size: 3.2rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 4rem;
    }
  }

  a:link,
  a:visited {
    color: $color-header-text;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }

  .svg-and {
    display: inline-block;
    fill: $color-header-text;
    height: 3.2rem;
    vertical-align: middle;
    width: 3.2rem;

    @media (min-width: $bp-s) {
      height: 3.8rem;
      width: 3.8rem;
    }

    @media (min-width: $bp-m) {
      height: 5.2rem;
      width: 5.2rem;
    }

    @media (min-width: $bp-xl) {
      height: 6rem;
      width: 6rem;
    }
  }
}
