$m : '.m-header';

#{$m} {
  margin: 2rem 0;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-xl) {
    margin: 8rem 0 4rem;
  }

  h1 {
    @include kerning;
    color: $color-header-text;
    font-family: $proxima-nova;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;

    @media (min-width: $bp-s) {
      font-size: 3.2rem;
    }

    @media (min-width: $bp-m) {
      font-size: 5rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 7rem;
    }
  }

  h2 {
    @include kerning;
    color: $color-header-text;
    font-family: $proxima-nova;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1;

    @media (min-width: $bp-s) {
      font-size: 2.8rem;
    }

    @media (min-width: $bp-m) {
      font-size: 3.2rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 4rem;
    }
  }

  [title="and"] {
    border-bottom: 0;
    cursor: auto;
    font-family: fontello;
    font-size: 125%;
    font-weight: normal;
    margin: 0 -4px 0 -3px;
    vertical-align: middle;
  }

  a:link,
  a:visited {
    color: $color-header-text;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }
}
