$m : '.m-instagram';

#{$m}__photo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

#{$m}__photo-item {
  @include aspect-ratio(1, 1);
  display: block;
  flex-basis: calc((100%/3) - 1px);
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  margin-bottom: 2px;

  a {
    display: block;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
