$m : '.m-list';

#{$m} {
  li { margin-bottom: 1rem; }
}


#{$m} #{$m}__item {
  display: table-row;

  #{$m}__eyebrow {
    color: $color-alt-text;
    font-size: 0.65rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  #{$m}__author {
    color: $color-alt-text;
    font-size: 0.85rem;
    font-style: italic;
  }
  a#{$m}__author {
    &:link, &:visited {
      color: $color-alt-text;
    }
    &:hover, &:active {
      color: $color-links;
    }
  }
}

#{$m}__image {
  display: table-cell;
  vertical-align: middle;
  width: 50px;

  img { width: 50px; }
}

#{$m}__meta {
  display: table-cell;
  line-height: 1.25;
  padding-left: 1rem;
  vertical-align: middle;
  span, a {
    display: block;
  }
}