$m : '.m-list';

#{$m} {
  li { margin-bottom: 1rem; }
}


#{$m} #{$m}__item {
  align-items: center;
  display: flex;
  #{$m}__eyebrow {
    color: $color-alt-text;
    font-size: 0.65rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  #{$m}__author {
    color: $color-alt-text;
    font-size: 0.85rem;
    font-style: italic;
  }
  a#{$m}__author {
    &:link, &:visited {
      color: $color-alt-text;
    }
    &:hover, &:active {
      color: $color-links;
    }
  }
}

#{$m}__image {
  align-items: center;
  display: flex;
  width: 50px;

  img { width: 50px; }
}

#{$m}__meta {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  padding-left: 1rem;
  span, a {
    display: block;
  }
}