$m : '.m-photoblog';

#{$m} {
  flex: 0 0 auto;
  margin: 0;
  
  img {
    max-height: 100vh;
    max-width: 100%;
  }

  .meta {
    color: $color-alt-text;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
    text-indent: 0;
  }
}

#{$m}__photo {
  display: block;
  margin: 0 -2rem;

  @media (min-width: $bp-l) {
    margin: 0;
  }
}
