$m : '.m-photoblog';

#{$m} {
  flex: 0 0 100%;
}

#{$m}__photos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#{$m}__photo-item {
  display: block;
  flex: 0 0 calc((100%/4) - 1rem);
  font-size: 0;
  margin-bottom: 1rem;

  a {
    display: block;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

#{$m}__photo {
  width: 100%;
}
