$m : '.m-photoblog';

#{$m} {
  flex: 0 0 100%;
}

#{$m}__photos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#{$m}__photo-item {
  display: block;
  flex: 0 0 calc(50% - 1rem);
  font-size: 0;
  margin-bottom: 2rem;

  a {
    display: block;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
    }
  }

  @media (min-width: $bp-m) {
    flex: 0 0 calc((100%/3) - 2rem);
  }

  @media (min-width: $bp-xl) {
    flex: 0 0 calc(25% - 2rem);
  }
}
