$m : '.m-stats';

#{$m} {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#{$m}__stat {
  flex: 1 1 auto;
  margin: 2.1rem 0;
  padding: 0 2rem;
}

#{$m}__number {
  @extend %sans-serif;
  font-size: 8em;
  font-weight: 100;
  letter-spacing: -2px;
  line-height: 8rem;
  margin: 0;
  text-align: center;
}

#{$m}__meta {
  color: $color-alt-text;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: (2.1/1);
  text-align: center;
  text-transform: uppercase;
}
