$m : '.m-twitter';

#{$m} {
  flex: 1 1 100%;
  margin: 0;

  #{$m}__tweet {
    font-size: 1.6rem;
    margin: 1rem 0 2rem;

    @media (min-width: $bp-m) {
      font-size: 2rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 2.4rem;
    }
  }
}

#{$m}__meta {
  border-top: 1px solid $color-very-light-gray;
  color: $color-alt-text;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.2rem;
  margin: 0;
  padding: 2rem 0 0;
  text-indent: 0;

  a:link,
  a:visited {
    color: $color-alt-text;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: $color-links;
    text-decoration: none;
  }

  @media (min-width: $bp-m) {
    flex-flow: row nowrap;
  }
}

#{$m}__user {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 2.1rem;

  @media (min-width: $bp-m) {
    margin: 0;
  }
}

#{$m}__avatar {
  $avatar-size: 50px;
  display: block;
  height: $avatar-size;
  width: $avatar-size;

  img {
    border-radius: $avatar-size/2;
    max-width: 100%;
  }
}

#{$m}__username {
  display: block;
  font-size: 1.6rem;
  line-height: (2.1/1.6);
  padding: 0 1rem;

  #{$m}__screenname {
    color: $color-alt-text;
    display: inline-block;
    font-size: 1.4rem;
  }
}

#{$m} #{$m}__username a {
  &:hover,
  &:active {
    #{$m}__screenname {
      color: $color-links;
      text-decoration: none;
   }
  }
}

#{$m}__timestamp {
  display: block;
  flex: 1 0 auto;
  font-style: italic;
  margin-right: 1rem;
}

#{$m}__actions {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  font-size: 1.4rem;
  line-height: 1.5;
}

#{$m}__action {
  .p-svg {
    @include svg-icon($width: 1.4rem);
    margin-left: 1rem;
  }
}
