$m : '.m-twitter';

$avatar_size: 50px;

#{$m}__user {
  align-items: center;
  border-bottom: 1px solid $color-very-light-gray;
  display: flex;
  padding-bottom: 1rem;
  width: 100%;
}

#{$m}__avatar {
  display: block;
  height: $avatar_size;
  width: $avatar_size;

  img {
    border-radius: $avatar_size/2;
    max-width: 100%;
  }
}

#{$m}__username {
  display: block;
  flex-grow: 1;
  padding: 0 1rem;

  #{$m}__screenname {
    color: $color-alt-text;
    display: inline-block;
    font-size: 0.85rem;
  }
}

#{$m} #{$m}__username a {
  &:hover, &:active {
    #{$m}__screenname {
      color: $color-links;
      text-decoration: none;
   }
  }
}

#{$m}__follow {
  display: none;
  font-size: 0.85rem;

  a {
    border: 1px solid;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
  }

  a:link, a:visited {
    border-color: lighten($color-very-light-gray, 5%);
    color: $color-alt-text;
    text-decoration: none;

    &:before {
      color: $color-very-light-gray;
    }
  }
  a:hover, a:active {
    border-color: darken($color-very-light-gray, 5%);
    color: $color-links;
    text-decoration: none;

    &:before {
      color: $color-links;
    }
  }
  a:before {
    content: '\e804';
    font-family: fontello;
    margin-right: 0.25rem;
  }

  @media (min-width: $bp-s) {
    display: block;
  }
}

#{$m} #{$m}__meta {
  color: $color-alt-text;
  display: flex;
  font-size: 0.85rem;
  margin: 0;
  text-indent: 0;

  a:link, a:visited {
    color: $color-alt-text;
    text-decoration: none;
  }
  a:hover, a:active {
    color: $color-links;
    text-decoration: none;
  }

  .timestamp {
    display: block;
    flex-grow: 1;
    font-style: italic;
    width: 100%;
    @media (min-width: $bp-s) {
      width: 50%;
    }
  }
  .actions {
    display: none;
    text-align: right;
    width: 50%;
    a {
      font-family: 'fontello';
      margin-left: 0.5rem;
    }
    a:link, a:visited {
      color: $color-very-light-gray;
    }
    a:hover, a:active {
      color: $color-links;
    }
  }
}

#{$m}__tweet:hover #{$m}__meta .actions {
  @media (min-width: $bp-s) {
    display: block;
  }
}