$b : '.b-books';

#{$b} {
  li { margin-bottom: 1rem; }
}

#{$b} #{$b}__book {
  display: table-row;

  #{$b}__status {
    color: $color-alt-text;
    font-size: 0.65rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  #{$b}__author {
    color: $color-alt-text;
    font-size: 0.85rem;
    font-style: italic;
  }
}

#{$b}__image {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
}

#{$b}__meta {
  display: table-cell;
  line-height: 1.25;
  padding-left: 1rem;
  vertical-align: middle;
  span {
    display: block;
  }
}