$b : '.b-elsewhere';

#{$b} {
  @include clearfix;
}

#{$b}__link {
  display: inline-block;
  float: left;
  line-height: 1.5;
  width: 50%;
  a {
    &:before {
      content: '\e808';
      display: inline-block;
      font-family: fontello;
      width:1.5rem;
    }
    &:link:before, &:visited:before {
      color: $color-very-light-gray;
      text-decoration: none;
    }
    &:hover:before, &:visited:active {
      color: $color-links;
      text-decoration: none;
    }
  }

  &.blog      a:before { content: '\e80c'; }
  &.github    a:before { content: '\e80a'; }
  &.instagram a:before { content: '\e809'; }
  &.linkedin  a:before { content: '\e80d'; }
  &.photoblog a:before { content: '\e806'; }
  &.rdio      a:before { content: '\e807'; }
  &.twitter   a:before { content: '\e804'; }
  &.untappd   a:before { content: '\e80e'; }
  &.goodreads a:before { content: '\e80f'; }
  &.dribbble  a:before { content: '\e80b'; }
}