$b : '.b-footer';

#{$b} {
  margin: 0 0 1rem 0;
  text-align:center;
  width: 100%;

  p {
    font-size: 0.85rem;
  }

  a:link, a:visited {
    color: $color-links;
    text-decoration: none;
  }
  a:hover, a:active {
    color: $color-links;
    text-decoration: underline;
  }
}