$b : '.b-header';

#{$b} {
  margin: 1rem 0 0 0;
  text-align:center;
  width: 100%;
  h1 {
    @include kerning;
    color: $color-header-text;
    font-family: $proxima-nova;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1;
    @media (min-width: $bp-small) {
      font-size: 2rem;
    }
    @media (min-width: $bp-medium) {
      font-size: 3rem;
    }
  }
  h2 {
    @include kerning;
    color: $color-header-text;
    font-family: $proxima-nova;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 1;
    @media (min-width: $bp-small) {
      font-size: 1.75rem;
    }
    @media (min-width: $bp-medium) {
      font-size: 2rem;
    }
  }
  abbr[title="and"] {
    border-bottom:none;
    cursor: auto;
    font-family: Baskerville, $calluna;
    font-size:150%;
    font-style:italic;
    font-weight:normal;
    margin:0 -3px 0 -6px;
    vertical-align:middle;
  }
  a:link, a:visited {
    color: $color-header-text;
    text-decoration: none;
  }
  a:hover, a:active {
    color: $color-links;
    text-decoration: none;
  }
}