$b : '.b-header';

#{$b} {
  margin: 1rem 0 0 0;
  text-align:center;
  width: 100%;
}

#{$b}__link {
  display: block;
  height: 52px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 256px;

  @media (min-width: $bp-small) {
    height: 61px;
    width: 300px;
  }
  @media (min-width: $bp-medium) {
    height: 81px;
    width: 400px;
  }

  &:hover, &:active {
    #{$b}__logo-hed {
      fill: $color-links;
    }
  }
}

#{$b}__logo {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}