$b : '.b-list';

#{$b} {
  li { margin-bottom: 1rem; }
}


#{$b} #{$b}__item {
  display: table-row;

  #{$b}__eyebrow {
    color: $color-alt-text;
    font-size: 0.65rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  #{$b}__author {
    color: $color-alt-text;
    font-size: 0.85rem;
    font-style: italic;
  }
  a#{$b}__author {
    &:link, &:visited {
      color: $color-alt-text;
    }
    &:hover, &:active {
      color: $color-links;
    }
  }
}

#{$b}__image {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
}

#{$b}__meta {
  display: table-cell;
  line-height: 1.25;
  padding-left: 1rem;
  vertical-align: middle;
  span, a {
    display: block;
  }
}

#{$b}.untappd {
  #{$b}__image {
    width: 50px;
  }
}